#val1, #val2, #val3, #val4, #val5, #val6, #val7, #val8, #val9, #val10,
#val1Input, #val2Input, #val3Input, #val4Input, #val5Input, #val6Input, #val7Input, #val8Input, #val9Input, #val10Input {
    /*visibility: hidden;*/
    display: none;
}

#makePollButton, #viewPollButton, #viewMainPolls, #poll, #choices{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#links {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#makePollButton, #viewPollButton, #viewMainPolls {
    width: 150px;
    height: 50px
}

#poll{
    border: 5px solid #026937;
    width: 400px;
    padding: 10px;
}

#choices {
    width: 100px;
    height: 25px;
    background-color: #026937;
}

#pollUname {
    color: #026937;
    font-size: 10pt;
    position: relative;
    top: -22px;
    right: 6px;
}

#options{

}

#uname {
    position: fixed;
    bottom: 925px;
    right: 100px;
}
